/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.button{
   -fx-background-color:transparent;
   -fx-text-fill:#ffffffcc;
}
#tfSearch{
    -fx-text-fill:white;
}
#hbBody{
    -fx-alignment:TOP_LEFT;
}
#lSidebar{
    -fx-font-size:9px;
    -fx-font-weight:bold;
}
#strike .text{
    -fx-strikethrough:true;
}
#topRight{
    -fx-alignment:TOP_RIGHT;
}
#buttonnode{
    -fx-background-color:white;
    -fx-padding:0px;
    -fx-cursor:hand;
}
.jfx-button .jfx-rippler{
    -jfx-rippler-fill:#100d19;
}
.label{
    -fx-text-fill:#ffffffcc;
}
.jfx-progress-bar .bar{
    -fx-background-color:red;
}
#bSetting{
    -fx-font-size:11px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-text-alignment:right;
    -fx-background-color:#00000075;
}
#lBlack{
   -fx-text-fill:#000000; 
}
#mainPane{
    -fx-background-radius: 0px 7px 7px 0px;
    -fx-background-color: #100d19c1;
}
#mainPane-alt{
    -fx-background-radius: 7px;
    -fx-background-color: #100d19c1;
}
#sidebar{
    -fx-background-color: #100d19;
    -fx-background-radius: 7px 0px 0px 7px;
}

#sidebarMax{
    -fx-background-color: #100d19;
    -fx-background-radius: 0px;
}
#bottombar{
    -fx-background-color: #100d19;
    -fx-background-radius: 8px;
}
#bottombar:pressed{
    -fx-opacity:0.9;
}
#bFootBar{
    -fx-padding:0px;
}
#paneMain{
    -fx-background-color: #100d19c1;
    -fx-background-radius: 0px;
}
#logo{
    -fx-background-image: url("../images/logo-min.png");
    -fx-background-size: 70px;
    -fx-background-repeat:no-repeat;
    -fx-background-position:left, left;
}
#logo-alt{
    -fx-background-image: url("../images/logo-kids.png");
    -fx-background-size: stretch;
    -fx-background-repeat:no-repeat;
    -fx-background-position:center, left;
}
#bUpload{
    -fx-background-color:#ff011d;
    -fx-background-radius:8px;
}
#bMenu{
    -fx-opacity:1;
}
#bMenu:hover{
    -fx-opacity:0.8;
}
#bMenu:pressed{
    -fx-opacity:0.7;
}
#bMenuChoosed{
    -fx-opacity:8;
}
#bMenuChoosed:hover{
    -fx-opacity:0.7;
}
.split-pane:horizontal>*.split-pane-divider { /* FX theme stylesheet */
    -fx-background-color: #100d19;
    -fx-background-insets: 0px, 0px 1px 0px 1px;
}

/*Recomended videos panel
*/
#lDuration{
    -fx-text-fill:#ffffffcc;
    -fx-padding:2px;
    -fx-background-color:#000000bb;
    -fx-background-radius:5px;
    -fx-font-size:8px;
}
#lTitle{
    -fx-alignment:CENTER_LEFT;
    -fx-text-alignment:left;
    -fx-font-size:9px;
    -fx-font-weight:bold;
    -fx-text-fill:#000000;
    -fx-wrap-text:true;
    -fx-padding:0px;
}
#lOther{
    -fx-text-fill:#000000b6;
    -fx-font-size:8px;
    -fx-padding:0px;
}
#boxTxt{
    -fx-padding: 7px 10px 3px 10px;
}
/*subscription panel*/
#whitenode{
    -fx-background-color:white;
    -fx-background-radius: 5em;
}
#lWhite{
    -fx-text-fill:#ffffff;
    -fx-font-size:9px;
    -fx-padding:0px;
    -fx-wrap-text: true;
}
#lDark{
    -fx-text-fill:#ffffff66;
    -fx-font-size:9px;
    -fx-padding:0px;
    -fx-wrap-text: true;
}
#bSubscribe{
    -fx-background-color:#ff011d;
    -fx-background-radius:4px;
    -fx-font-weight:bold;
    -fx-font-size: 7px;
    -fx-padding: 5px 7px 5px 7px;
}
#channelBody{
    -fx-padding: 5px 12px 5px 12px;
    -fx-background-color: #ffffff09;
    -fx-background-radius: 4px;
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 8;
}
#channelBody:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
#channelRight{
    -fx-alignment: CENTER_RIGHT;
}

/*videomix panel*/
#lMix{
    -fx-font-size:10px;
    -fx-font-weight:bold;
    -fx-wrap-text: true;
    -fx-text-fill: white;
}
#mixBox{
    -fx-padding: 11px 10px 10px 10px;
}
#greyBox{
    -fx-background-color: #00000075;
    -fx-alignment: CENTER;
}
#lGreyBox{
    -fx-font-size:12px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}
#bMix:pressed{
    -fx-opacity: 0.92;
}
#bMix{
    -fx-background-color:black;
    -fx-padding:0px;
}
/*trending panel*/
#trendingButton{
    -fx-background-color: #ffffff09;
    -fx-background-radius: 8px;
    /*-fx-padding:0px;*/
/*    -fx-border-color: #ffffff58;
    -fx-border-width: 0px 0px 1px 0px;*/
}
#trendingButton .jfx-rippler{
    -jfx-rippler-fill:white;
}

#boxUpload{
    -fx-background-color:#ffffff88;
    -fx-background-radius:8px;
}
#lUpload{
    -fx-text-fill:white;
    -fx-font-size:21px;
    -fx-font-weight:bold;
}
#bBrowse{
    -fx-background-color:#ff011d;
    -fx-background-radius:5px;
}
#lTrendingTitle{
    -fx-alignment:CENTER_LEFT;
    -fx-text-alignment:left;
    -fx-font-size:14px;
    -fx-font-weight:bold;
    -fx-text-fill:#ffffff;
    -fx-wrap-text:false;
    -fx-padding:0px;
}
#lTrendingOther{
    -fx-wrap-text:true;
    -fx-text-fill:#ffffffb6;
    -fx-font-size:10px;
    -fx-padding:0px;
}
/*
    Scroll Bar
*/
#scroll{
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}
#scroll, #scroll .viewport{
    -fx-background-color:transparent;
}
#scroll .scroll-bar{
    /*rgb(96,96,96);*/
 -fx-background-color: transparent;
 -fx-background-radius: 2em;
}
#scroll .scroll-bar:vertical{
    -fx-pref-width: 15px;
}
#scroll .scroll-bar:horizontal .track,
#scroll .scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
#scroll .scroll-bar:vertical .track-background,
#scroll .scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
#scroll .scroll-bar:vertical .thumb {
    /*-fx-background-color: #48172c61;*/
    -fx-background-color: #9494948f;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 1em;
}
#scroll .scroll-bar:horizontal .thumb {
    /*-fx-background-color: #48172c61;*/
    -fx-background-color: #9494948f;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 1em;
}
#scroll .scroll-bar:horizontal .thumb:hover,
#scroll .scroll-bar:vertical .thumb:hover {
 /*-fx-background-color: #48172c8f;*/
 -fx-background-color: #949494bd;
}
#scroll .scroll-bar:horizontal .thumb:pressed,
#scroll .scroll-bar:vertical .thumb:pressed {
 /*-fx-background-color: #a7ca38; hijau*/
 /*-fx-background-color: #017ccc; biru*/
 -fx-background-color: #949494;
}
#scroll .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
/* -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;*/
 -fx-background-color :transparent;
 -fx-background-radius : 0.0em;
 -fx-padding :0.0 10.0 0.0 0.0;
}
#scroll .scroll-bar:vertical .increment-arrow,
#scroll .scroll-bar:vertical .decrement-arrow {
/* -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;*/
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}
#scroll .scroll-bar:horizontal .increment-arrow,
#scroll .scroll-bar:horizontal .decrement-arrow {
/* -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;*/
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em 0.7em 0;
}
#scroll .scroll-bar:vertical:focused,
#scroll .scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}